@tailwind base;
@tailwind components;
@tailwind utilities;

@import "patterns";

.scrolling-0 {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
